<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.x-o-r-r-o.terminal-kit</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0E055094-D19B-5FEA-BD24-DB77B243870A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B596684F-9D5F-5B52-B138-E4A6481A30EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3615F0B1-5E7E-5676-89C1-7C7C665BC1C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6B1E60C-260B-5C29-A264-31EF3679DBEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4555264E-35B0-50E0-A894-88E114C9DD86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61B0D173-50D0-5007-969F-7A9396F7D47B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>67432878-87E1-500B-B5DE-0AFA4444A333</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3615F0B1-5E7E-5676-89C1-7C7C665BC1C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>249B6D15-CAF1-5415-BA2C-91A967C22E7F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E055094-D19B-5FEA-BD24-DB77B243870A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6075E767-AF2A-56AC-B97A-AC0FC0927BB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83E54962-9748-5D3E-A513-B06D16F42B1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61B0D173-50D0-5007-969F-7A9396F7D47B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C20C3ED-C750-5B6E-82A4-D932C6FF9275</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83E54962-9748-5D3E-A513-B06D16F42B1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B596684F-9D5F-5B52-B138-E4A6481A30EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8AD7DF9-835D-54DC-82C8-92FE55355B99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A97A3B58-3755-5CA4-AE5B-2157B851DBC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD8A6081-3E7E-5662-BA4E-23D7AD8E1069</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC3C4C17-0C9D-59EC-B10B-CDBBED308CC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>x-o-r-r-o</string>
	<key>description</key>
	<string>Warp launch configurations, shell history search, offline tldr pages and SSH hosts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal Kit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword_warp}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>…</string>
				<key>script</key>
				<string>osascript -l JavaScript ./tk.js warp "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Launch configurations and folders</string>
				<key>title</key>
				<string>Warp</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC3C4C17-0C9D-59EC-B10B-CDBBED308CC1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword_hist}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>…</string>
				<key>script</key>
				<string>osascript -l JavaScript ./tk.js hist "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search zsh, bash, fish and atuin history</string>
				<key>title</key>
				<string>Shell History</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD8A6081-3E7E-5662-BA4E-23D7AD8E1069</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword_tldr}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tldr pages…</string>
				<key>script</key>
				<string>osascript -l JavaScript ./tk.js tldr "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Command examples, offline</string>
				<key>title</key>
				<string>tldr</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A8AD7DF9-835D-54DC-82C8-92FE55355B99</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword_ssh}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>…</string>
				<key>script</key>
				<string>osascript -l JavaScript ./tk.js ssh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>From ~/.ssh/config and known_hosts</string>
				<key>title</key>
				<string>SSH Hosts</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A97A3B58-3755-5CA4-AE5B-2157B851DBC6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Open in Terminal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>6075E767-AF2A-56AC-B97A-AC0FC0927BB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:tk_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>Copy</string>
						<key>uid</key>
						<string>67432878-87E1-500B-B5DE-0AFA4444A333</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:tk_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string>Paste</string>
						<key>uid</key>
						<string>249B6D15-CAF1-5415-BA2C-91A967C22E7F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Other actions</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4555264E-35B0-50E0-A894-88E114C9DD86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./resolve.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61B0D173-50D0-5007-969F-7A9396F7D47B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./resolve.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3615F0B1-5E7E-5676-89C1-7C7C665BC1C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2C20C3ED-C750-5B6E-82A4-D932C6FF9275</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E6B1E60C-260B-5C29-A264-31EF3679DBEE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript ./tk.js act "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E055094-D19B-5FEA-BD24-DB77B243870A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript ./tk.js open-dirs "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83E54962-9748-5D3E-A513-B06D16F42B1B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:alfred_workflow_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B596684F-9D5F-5B52-B138-E4A6481A30EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Open a Warp Tab Config or Launch Configuration via the `warp` keyword. The list also opens a new Warp tab or window in the frontmost Finder folder, or the folder in your preferred terminal.

* &lt;kbd&gt;↩&lt;/kbd&gt; Open the configuration.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Reveal the file in Finder.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Edit the file.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open a Tab Config in a new window.

Alternatively, open folders in your preferred terminal via the Universal Action.

### Shell History

Search the history of zsh, bash, fish and atuin via the `hist` keyword. Commands are newest first, without duplicates, and show when they ran if the shell saved the time. Words can come in any order, and letters that skip ahead (`kgp` for `kubectl get pods`) also match.

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy the command.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Paste the command into the frontmost app.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Run the command in your preferred terminal.
* &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Run the command in your preferred terminal, in the frontmost Finder folder.

To keep commands with secrets out of the list, add words like `token=` or `password` to “Hide commands with” in the Workflow’s Configuration. If your zsh `HISTFILE` is somewhere unusual, set it there too.

### tldr Pages

Read practical examples for a command, like `tldr tar`, via the `tldr` keyword. Pages are downloaded once (about 3 MB) and refresh weekly in the background, so they work offline. Add words to filter the examples (`tldr git stash apply`), or type part of a name to find pages.

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy the example, with the placeholders as plain text.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Paste the example into the frontmost app.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy the example with its `{{placeholders}}`.

When there’s no page, look the command up on cheat.sh (online) by adding `@cheat`, like `tldr jq @cheat`.

### SSH

Connect to hosts from `~/.ssh/config` (including `Include` files) and `~/.ssh/known_hosts` via the `ssh` keyword. Type `user@host` or `host:port` to connect somewhere new.

* &lt;kbd&gt;↩&lt;/kbd&gt; Connect in your preferred terminal.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Paste the `ssh` command into the frontmost app.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Open the file that defines the host.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;C&lt;/kbd&gt; Copy the `ssh` command.

### Terminals

Choose Terminal, iTerm2, Ghostty, Warp, kitty, WezTerm or Alacritty in the Workflow’s Configuration, or leave it on Automatic to use the first one installed. Commands are typed into a new window (or a tab, for iTerm2, Ghostty and Warp). Warp runs the command from a temporary Tab Config, which is deleted a minute later. Warp versions older than May 2026 can’t do that, so Terminal Kit pastes the command into a new Warp tab instead: Alfred needs Accessibility access for that. Ghostty 1.3 or newer is controlled through AppleScript; older versions start a new window that runs the command.

Every keyword can be changed in the Workflow’s Configuration.

### Changes in 1.1

* SSH: &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; now pastes the `ssh` command, like `hist` and `tldr`. Copy it with &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;C&lt;/kbd&gt;.
</string>
	<key>uidata</key>
	<dict>
		<key>0E055094-D19B-5FEA-BD24-DB77B243870A</key>
		<dict>
			<key>note</key>
			<string>Runs in a terminal, opens links and files</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>2C20C3ED-C750-5B6E-82A4-D932C6FF9275</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>3615F0B1-5E7E-5676-89C1-7C7C665BC1C2</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>4555264E-35B0-50E0-A894-88E114C9DD86</key>
		<dict>
			<key>note</key>
			<string>Routes on the tk_action variable set by each result</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>6075E767-AF2A-56AC-B97A-AC0FC0927BB9</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>61B0D173-50D0-5007-969F-7A9396F7D47B</key>
		<dict>
			<key>note</key>
			<string>Reads very long values back from the cache</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>83E54962-9748-5D3E-A513-B06D16F42B1B</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A8AD7DF9-835D-54DC-82C8-92FE55355B99</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>A97A3B58-3755-5CA4-AE5B-2157B851DBC6</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>AD8A6081-3E7E-5662-BA4E-23D7AD8E1069</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>B596684F-9D5F-5B52-B138-E4A6481A30EE</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>BC3C4C17-0C9D-59EC-B10B-CDBBED308CC1</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>E6B1E60C-260B-5C29-A264-31EF3679DBEE</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>warp</string>
				<key>placeholder</key>
				<string>warp</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Warp Tab Configs, Launch Configurations and folders</string>
			<key>label</key>
			<string>Keywords</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_warp</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hist</string>
				<key>placeholder</key>
				<string>hist</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Shell history</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_hist</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tldr</string>
				<key>placeholder</key>
				<string>tldr</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>tldr pages</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_tldr</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ssh</string>
				<key>placeholder</key>
				<string>ssh</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>SSH hosts</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_ssh</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>auto</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Automatic</string>
						<string>auto</string>
					</array>
					<array>
						<string>Terminal</string>
						<string>terminal</string>
					</array>
					<array>
						<string>iTerm2</string>
						<string>iterm</string>
					</array>
					<array>
						<string>Ghostty</string>
						<string>ghostty</string>
					</array>
					<array>
						<string>Warp</string>
						<string>warp</string>
					</array>
					<array>
						<string>kitty</string>
						<string>kitty</string>
					</array>
					<array>
						<string>WezTerm</string>
						<string>wezterm</string>
					</array>
					<array>
						<string>Alacritty</string>
						<string>alacritty</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Runs history commands and SSH connections, and opens folders. Automatic picks the first installed of iTerm2, Ghostty, Warp, kitty, WezTerm, Alacritty and Terminal.</string>
			<key>label</key>
			<string>Terminal</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>terminal</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>window</string>
				<key>pairs</key>
				<array>
					<array>
						<string>New window</string>
						<string>window</string>
					</array>
					<array>
						<string>New tab</string>
						<string>tab</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>iTerm2, Ghostty and Warp can use a tab of the front window; the others always open a window.</string>
			<key>label</key>
			<string>Open in</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>terminal_open_in</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>stable</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Warp</string>
						<string>stable</string>
					</array>
					<array>
						<string>Warp Preview</string>
						<string>preview</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>The Warp app whose configurations are listed and that runs commands when Warp is the terminal.</string>
			<key>label</key>
			<string>Warp release</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>warp_release</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>~/.zsh_history</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Leave empty to use the newest of ~/.zsh_history, ~/.zhistory (Prezto), ~/.histfile and the XDG folders. Set it (~/… or $HOME/…) if your HISTFILE is elsewhere.</string>
			<key>label</key>
			<string>zsh history file</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>zsh_histfile</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include atuin history</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>History</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>hist_atuin</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Hide duplicate commands</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>hist_dedupe</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>token=, password</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Commands that contain any of these words (comma-separated, any case) are left out, like: token=, password, vault login</string>
			<key>label</key>
			<string>Hide commands with</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hist_ignore</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>pairs</key>
				<array>
					<array>
						<string>English</string>
						<string>en</string>
					</array>
					<array>
						<string>Deutsch</string>
						<string>de</string>
					</array>
					<array>
						<string>Español</string>
						<string>es</string>
					</array>
					<array>
						<string>Français</string>
						<string>fr</string>
					</array>
					<array>
						<string>Italiano</string>
						<string>it</string>
					</array>
					<array>
						<string>Nederlands</string>
						<string>nl</string>
					</array>
					<array>
						<string>Polski</string>
						<string>pl</string>
					</array>
					<array>
						<string>Português (Brasil)</string>
						<string>pt_BR</string>
					</array>
					<array>
						<string>Português (Portugal)</string>
						<string>pt_PT</string>
					</array>
					<array>
						<string>Русский</string>
						<string>ru</string>
					</array>
					<array>
						<string>Українська</string>
						<string>uk</string>
					</array>
					<array>
						<string>Türkçe</string>
						<string>tr</string>
					</array>
					<array>
						<string>简体中文</string>
						<string>zh</string>
					</array>
					<array>
						<string>繁體中文</string>
						<string>zh_TW</string>
					</array>
					<array>
						<string>日本語</string>
						<string>ja</string>
					</array>
					<array>
						<string>한국어</string>
						<string>ko</string>
					</array>
					<array>
						<string>हिन्दी</string>
						<string>hi</string>
					</array>
					<array>
						<string>Bahasa Indonesia</string>
						<string>id</string>
					</array>
					<array>
						<string>فارسی</string>
						<string>fa</string>
					</array>
					<array>
						<string>Svenska</string>
						<string>sv</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Pages missing in this language fall back to English.</string>
			<key>label</key>
			<string>tldr language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>tldr_language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>long</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Long form (--force)</string>
						<string>long</string>
					</array>
					<array>
						<string>Short form (-f)</string>
						<string>short</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>How {{[-f|--force]}} style options are copied.</string>
			<key>label</key>
			<string>tldr options</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>tldr_options</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Offer cheat.sh (online) as a fallback</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>tldr_cheatsh</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include hosts from ~/.ssh/known_hosts</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>SSH</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ssh_known_hosts</string>
		</dict>
	</array>
	<key>variables</key>
	<dict/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/x-o-r-r-o/alfred-terminal-kit</string>
</dict>
</plist>
