<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xorro.terminal-kit</string>
	<key>name</key>
	<string>Terminal Kit</string>
	<key>description</key>
	<string>Warp launch configs, shell history search, tldr/cheat sheets and SSH hosts in one workflow.</string>
	<key>createdby</key>
	<string>xorro</string>
	<key>version</key>
	<string>0.1.0</string>
	<key>readme</key>
	<string>See README.md</string>
	<key>objects</key>
	<array/>
	<key>connections</key>
	<dict/>
	<key>uidata</key>
	<dict/>
	<key>userconfigurationconfig</key>
	<array/>
</dict>
</plist>
